<script src="//fast.wistia.com/assets/external/E-v1.js" charset="ISO-8859-1"></script>
<div class="section" id="intro">
    <article class="intro">
        <h2 class="animatedh2">Bring your future closer?</h2>
    </article>
    <div class="container">
        <div class="wrapper">
            <article class="content first flex flex-wrap">
                <div class="copy col-12 sm-col-12 md-col-6">
                    <h2 class="fade col-8 sm-col-12"><span class="text">See how we have helped our client</span></h2>
                </div>
                <div class="col-12 sm-col-6">
                    <div class="button-area">
                        <script src="https://fast.wistia.com/embed/medias/t0y1clqw1q.jsonp" async></script>
                        <div id="introVideo"
                            class="wistia_embed wistia_async_t0y1clqw1q popover=true popoverContent=html">
                            {{> button-play}}</div>
                    </div>
                </div>
            </article>
        </div>
        {{>site-header}}
    </div>
</div>