<div class="section" id="intro01">
    <article class="intro">
        <h2 class="animatedh2">Bring your future closer?</h2>
    </article>
    <div class="container">
        <div class="wrapper">
            <article class="content flex flex-wrap items-center ">
                <div class="copy col-12">
                    <h2 class="fade">
                        <span class="text  col-12">An exclusive invitation from AWS</span>
                    </h2>
                </div>
            </article>
        </div>
        {{>site-header}}
        <i class="icon-arrow-down"><a href="#">scroll down</a></i>
    </div> 
</div>