<header class="header">
    <div class="wrap-header">
        <h4 class="first left-align">BRING YOUR FUTURE CLOSER</h4>
        <h1>
            <a href="#"  class="btnintro logo">AWS</a>
        </h1>
        <h4 class="second right-align">AN EXCLUSIVE INVITATION FROM AWS</h4>
    </div>
</header>