<div id="nav-container">
  <a href="#" class="nav-icon-wrapper">
    <span class="nav-icon"></span>
  </a>

  <!-- desktop navigaation -->
  <ul id="menu">
    <li data-menuanchor="firstPage">
      <a id="menu-section01" href="#firstPage">
        <i class="home"></i>
        <span class="title">AWS is how</span></a>
    </li>
    <li data-menuanchor="secondPage">
      <a id="menu-section02" href="#secondPage">
        <i class="one">1</i>
        <span class="title">The future is now</span></a>
    </li>
    <li data-menuanchor="thirdPage">
      <a id="menu-section03" href="#thirdPage">
        <i class="two">2</i>
        <span class="title">Machines for greater efficiencies</span></a>
    </li>
    <li data-menuanchor="fourthPage">
      <a id="menu-section04" href="#fourthPage">
        <i class="three">3</i>
        <span class="title">Embracing new challenges</span></a>
    </li>
    <li data-menuanchor="fifthPage">
      <a id="menu-section05" href="#fifthPage">
        <i class="four">4</i>
        <span class="title">The importance of play</span></a>
    </li>
    <li data-menuanchor="sixthPage">
      <a id="menu-section06" href="#sixthPage">
        <i class="five">5</i>
        <span class="title">Working backwards</span></a>
    </li>
    <li data-menuanchor="seventhPage">
      <a id="menu-section07" href="#seventhPage">
        <i class="contact"></i>
        <span class="title">See transformation for yourself</span></a>
    </li>
  </ul>

</div>