<footer class="footer">
	<div class="container">
		<div class="wrapper">
			<div class="content flex flex-wrap justify-center">

				<blockquote class="blockquote">
					<p>“AWS helped us cut product development time by 67%”</p>
					<cite><strong>Lawrence Fong,</strong> <br>General Manager IT solutions, Cathay Pacific.</cite>
				</blockquote>


 
				<header class="col-12 sm-col-10">
					<div class="copy p4">
						<h3 class=" ">Customer obsession is woven through everything we do at AWS. </h3>
						<p class=" ">It’s why we push forward into new ways to create seamless experiences for people all over the world. 
						</p>
						<p class=" ">
						IAG is faced with similar international demands that we cater for every day, which is why we’re perfectly placed to help you move into new ways of putting your customers first.</p>
					</div>
				</header> 

				<div class="foot flex flex-wrap justify-end">
					<div class="border">
						<h3>Donna McGeady</h3>
						<p>IAG Client Director</p>
						<p class="pb1"><a href="mailto:mcgeadyd@amazon.com">mcgeadyd@amazon.com</a></p>
						<p class="pb1"><a href="tel:+447753832616">+44 (0) 7753832616</a></p>
					</div>
				</div>

			</div>
		</div>
	</div>
</footer>