<div class="section" id="section04">
	<div class="bcg"></div>
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">

				<div class="col-12 sm-col-12 md-col-6 flex flex-wrap">
					<div class="col-12 sm-col-12 md-col-6">
						<h2 class="fade">
							<span class="text fade">How do you create<br> a "wow" moment?<br>
								<em class="aws">AWS is how.</em> </span>
						</h2>
					</div>
				</div>



				<div class="col-12 flex flex-wrap">
					<div class="fade col-12 sm-col-12 md-col-3 flex flex-wrap">
						<p class="col-12 sm-col-12 md-col-10">
							Any successful innovator will tell you that before you can create a ‘wow’ moment, you need
							precious time to explore. Albert Einstein famously said, “To stimulate creativity, one must
							develop the childlike inclination for play”. With play, a problem turns into an interesting
							challenge. Play makes a serious subject fun. Play takes the usual answer and transforms it
							into any number of possibilities.
						</p>
					</div>
					<div class="button-area fade col-12 sm-col-12 md-col-7">
						<p class="col-12 sm-col-12 md-col-5 p4 border">
							With AWS Cloud, an enterprise that wants to innovate is equally able to explore and play.
							In fact, when you need to push the boundaries, innovate at speed, and ensure the cost of
							exploration doesn’t hold back your thinking, AWS Cloud helps you succeed.<br>
							<br>Now innovators can think with the chains off. Collaboration is easier. Cost of failure
							is
							significantly reduced. There really are no limits as to what your people can come up with.
						</p>
						<a href="#" class="case-study-btn">{{> case-study}}</a>
					</div>
				</div>
			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>