<div class="section" id="section05">
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">

				<div class="col-12 sm-col-12 md-col-12 flex flex-wrap">
					<div class="col-12 sm-col-12 md-col-6 ">
						<h2 class="fade">
							<span class="text">Bring your future closer.</span>
						</h2>
					</div>
					<div class="fade col-12 sm-col-12 md-col-6 p0 sm-pb2 md-p0">
						<h2>Learn how to innovate like Amazon. <br>Join us at an AWS innovation workshop.</h2>
					</div>
				</div>

				<div class="col-12 flex flex-wrap">
					<div class="fade col-12 sm-col-12 md-col-6 flex flex-wrap">
						<p class="col-12 sm-col-12 md-col-6 pr0 sm-pr3">
							Right now, more than a million AWS customers are busy creating a better tomorrow. They’re
							leaving the constraints of legacy behind and innovating faster, serving their customer
							better and raising the bar on performance and security. Wherever you are in your journey,
							AWS is HOW you bring your future closer.
						</p>
					</div>
					<div class="fade col-12 sm-col-12 md-col-6 py4 sm-py2 md-p0">
						<p class="col-12 sm-col-12 md-col-8">
							Discover how Amazon starts with the press release and works backwards. See the process we go
							through to ensure our thinking is customer centric. Learn more about the importance of
							understanding customer needs in order to innovate on their behalf.</p>
						<ul class="col-12 sm-col-12 md-col-8 list">
							<li>Learn how AWS is inventing on behalf of customers</li>
							<li>Experience Amazon’s approach to address a real business challenge</li>
							<li>Meet peers and share views on how market leaders are staying head of change</li>
							<li>Meet the AWS Digital Innovation Team to explore ways to address your specific customer
								needs</li>
							<li>Walk away with the blueprint for ways to rapidly drive customer-oriented business
								solutions</li>
						</ul>
					</div>

				</div>
			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>