<div class="section" id="section07">
    {{>header}}
    <div class="container">
        <div class="wrapper">
            <article class="content flex flex-wrap items-center">

                <div class="col-12 flex flex-wrap items-center">
                    <div class="col-12 sm-col-12  flex flex-wrap items-center ">
                        <h2 class="col-10 sm-col-12 center">
                            Join your <CITY> Innovation Workshop today
                        </h2>
                    </div>
                </div>
                <div class="contact-details col-12 sm-col-4 md-col-2">
                    <p>
                        workshop details<br>
                        date<br>
                        location<br>
                        top line agenda;<br>
                        sign up URL<br> 
                    </p> 
                </div>
            </article>
        </div>
    </div>
</div>