<div class="section" id="section02">
	<div class="bcg"></div>
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">

				<div class="col-12">
					<div class="col-12 sm-col-12 md-col-7  flex flex-wrap">
						<div class="col-12 sm-col-12 md-col-6">
							<h2 class="fade">
								<span class="fade text">How can robots<br>
									make me smarter?
									<em class="aws">AWS is how.</em> </span>
							</h2>
						</div>


						<div class="button-area col-6">
							<a href="#" class="case-study-btn">{{> case-study}}</a>
						</div>
					</div>
				</div>


				<div class="col-12 flex flex-wrap">
					<div class="fade col-12 sm-col-12  md-col-3 flex flex-wrap">
						<p class="bold col-12 sm-col-12 md-col-11">
							Today kids are growing up with technology that blurs the line between animate and inanimate
							objects. In our homes, on assembly lines, helping with laborious tasks and even monitoring
							the health of our planet, the use of machines and the efficiencies they bring is destined to
							rise.
						</p>

					</div>

					<div class="col-12 sm-col-12  md-col-6">
						<p class="fade col-12 sm-col-12 md-col-6 p4 border">
							For business, greater efficiencies mean greater success. With AWS Cloud, many enterprises
							are already reaping the rewards. No matter if they are at the beginning of their cloud
							journey, have recently started its adoption, or if shadow IT projects have been implemented,
							AWS Cloud is the answer.<br> We work with you to help you achieve operational efficiencies,
							drive innovation, and improve your ability to meet core security and compliance
							requirements.<br>

							In fact, with AWS you benefit from the experience of more than a million active customers.
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>