<div class="section" id="section06">
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">

				<div class="col-12 flex flex-wrap">
					<div class="fade col-12 sm-col-12 md-col-12 flex flex-wrap">
						<div class="col-12">
							<h2>Working backwards</h2>
						</div>

						<div class="col-12 sm-col-12 md-col-12  flex flex-wrap">

							<div class="col-12 sm-col-12 md-col-4  pr0 sm-pr4 flex flex-wrap">
								<p class="col-8">"The Working Backwards process is a huge amount of work. But, it will
									save you even
									more
									work later on." <br><br><em>Jeff Bezos</em></p>

								<p class="bold col-8">
									The basis of the Working Backwards methodology is to answer the following 5
									questions:</p>
							</div>


							<div class="fade col-12 sm-col-12 md-col-6">
								<p class="col-12 sm-col-12 pr0 sm-pr4">At Amazon, every idea starts by thinking how best
									to delight customers, and working backwards to create that reality. The Working
									Backwards process is how we ensure customer obsession — from envisioning how to
									delight customers, clarifying the idea in a press release, and continually
									evaluating the
									approach throughout the creation of the idea.</p>
								<p class="col-12 sm-col-12">
									The process begins with identification of a specific customer profile and then
									focusing on a unique challenge or opportunity. From here, we work to identify a
									solution, layering in technology as needed to deliver a delightful customer
									solution.
								</p>

							</div>
						</div>
					</div>


				</div>

				<nav class="timeline-nav">
					<ul class="timeline-menu menu">
						<li class="active"><i class="customer"></i><a href="javascript:;">Who is your customer?</a></li>
						<li><i class="problem"></i><a href="javascript:;">What is the most<br> important problem
								or<br>
								opportunity?
							</a>
						</li>
						<li><i class="important"></i><a href="javascript:;">What is the most<br> important
								customer<br>
								benefit?</a>
						</li>
						<li><i class="know"></i><a href=" javascript:;">How do you know what<br> your customer needs
								or<br>
								wants?</a>
						</li>
						<li><i class="experience"></i><a href="javascript:;">What does the<br> experience look
								like?</a>
						</li>
					</ul>
				</nav>


			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>