<div class="section" id="section03">
	<div class="bcg"></div>
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">

				<div class="col-12 sm-col-12 md-col-6 flex flex-wrap">
					<div class="col-12 sm-col-12 md-col-6">
						<h2 class="fade">
							<span class="text">How do you get better<br> at difficult things?
								<em class="aws">AWS is how.</em> </span>
						</h2>
					</div>

				</div>



				<div class="col-12 flex flex-wrap">
					<div class="fade col-12 sm-col-12  md-col-7 flex flex-wrap">
					</div>

					<div class="col-12 sm-col-12  md-col-4">

						<div class="button-area fade col-12 sm-col-12  md-col-9 flex flex-wrap">
							<a href="#" class="case-study-btn">{{> case-study}}</a>

							<p class="col-12 sm-col-12 md-col-12 px4">
								Remember when you first learnt to ride a bike? How it used to wobble. How you couldn’t
								use
								the brakes. Then, slowly it all came together. You spent hours practicing and what first
								seemed impossible, soon became easy.
							</p>
						</div>

						<p class="fade col-12 sm-col-12 md-col-9 p4 border">
							For an enterprise that’s looking to propel itself forward, you need to start getting better
							at difficult things. We can help you get there. With more agility you’ll be finding new ways
							to raise the bar every day. You’ll be deploying more innovative customer engagements, have
							greater scalability to grow at pace, as well as the power of AI and ML to unleash.<br><br>

							With AWS Cloud you can build your business around a more agile infrastructure. One that
							enables an enterprise to accelerate its transformation, and use it to become a springboard
							for growth.
						</p>
					</div>
				</div>
			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>