<div class="section" id="section01">
	{{>header}}
	<div class="container">
		<div class="wrapper">
			<article class="content flex flex-wrap">
				<div class="flex flex-wrap col-12 sm-col-12 md-col-6">
					<div class="col-12 sm-col-12 md-col-6">
						<h2 class="fade">
							<span class="text">Today we build the<br>
								world of tomorrow. 
								<em class="aws">AWS is how.</em> </span></h2>
					</div>
				</div>
				<div class="col-12 flex flex-wrap">
					<div class="col-12 sm-col-12 md-col-8 flex flex-wrap ">
						<div class="fade col-12 sm-col-4 pr0 sm-pr2">
							<p>
								Meaningful innovation thrives on AWS. We believe the future belongs to the forward
								thinkers. To the open minded. To the ones who are not afraid to try it, explore it, poke
								it and turn it inside out.
							</p>
							<p>
								Just look at the way children approach
								innovation. It’s almost as if it’s in their DNA.
								Their eagerness to explore, discover and figure things out is instinctive. Risk doesn’t
								scare them, it excites them. Change is something that happens every day — keeping pace
								is, too.
							</p>
						</div>
						<div class="fade col-12 sm-col-4 pl0 sm-pl2">
							<p>
								"What if businesses could become natural
								innovators like children and truly embrace
								transformation? What if they could see
								their true potential and make it a reality?
								What if they could go beyond the status quo
								and fear of failure and create a culture of
								constant experimentation that creates a better understanding of customer’s needs?"
							</p>
							<p>It’s time to bring your future closer. To innovate in a more consistent and repetitive
								way. To not only react to change but get ahead of change.
							</p>
							<p class="aws"><strong>AWS is how.</strong></p>
						</div>
					</div>
					<div class="button-area col-12 sm-col-12 md-col-4 px0 sm-px0 md-px4 flex flex-wrap">

				 
						 <a href="#" class="case-study-btn">{{> case-study}}</a>
					 

						<h2 class="fade text col-12 sm-col-6 md-col-6">Accelerate the<br>
							pace of change by<br>
							making innovation<br>
							happen faster.</h2>
					</div>

				</div>
			</article>
		</div>
	</div>
	<i class="icon-arrow-down"><a href="#">scroll down</a></i>
</div>